/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    /* background-color:#d9e1e2; */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color: rgba(225, 252, 195, 0.39); */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .rightcentered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    box-shadow: 5px 5px 5px 5px grey;
  }

  .regcentered{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  
  /* h1 {
    font-size: 40px;
    font-weight: 700;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: max-content;
    height: max-content;
    padding-left: 90%;
  } */
  /* p {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px  #957dad,
                 4px 4px 0px #ee4b2b,
                 6px 6px 0px #00c2cb,
                 8px 8px 0px #ff7f50,
                 10px 10px 0px #553c9a;
    margin-left: 28%;
  } */
  h2 {
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }