/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    /* background-color: #111; */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color: rgba(225, 252, 195, 0.39); */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .rightcentered{
    position: relative;
    /* top: 56%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    padding: 0% 5% 0% 5%; */
    /* box-shadow: 5px 5px 5px 5px grey; */
  }

  .rightcentered2{
    position: relative;
    /* top: 70%;
    left: 50%; */
    margin: 1% 0% 1% 2%;
    width: 90%;
    /* transform: translate(-50%, -50%); */
    /* padding: 0% 5% 0% 5%; */
    box-shadow: 5px 5px 5px 5px grey;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }