/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    background-color:#d9e1e2 !important;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logo{
    
        font-size: 40px;
        font-weight: 300;
        font-family: 'Niconne', cursive;
        color: #e0d6e9;
        text-shadow: 2px 2px 0px  #957dad,
                     4px 4px 0px #ee4b2b,
                     6px 6px 0px #00c2cb,
                     8px 8px 0px #ff7f50,
                     10px 10px 0px #553c9a;
        margin-left: 28%;
      
}